<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{>headerlinks}}
    </head>
    <body>
        {{>navbar}}
        <!--main header-->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-12 main_header_left">

                            <figure>
                                <img id="akif" src="images/akif.jpg" class="img-fluid">
                            </figure>
                            
                        </div>
                        <div class="col-md-6 col-12 main_header_right">

                            <p>Welcome to Weather App</p>
                            <h1>I am a <span class="txt_clr">MERN and LAMP Stack developer</span> Infoscion and a Freelancer</h1>
                            <a href="/about"><button>About Me</button></a>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--footer-->
        {{>footer}}
    </body>
</html> 